.item {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    width: 100%;
    border: 1px solid black;
    border-radius: 6px;
    margin: 5px 0;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    padding: 5px 10px;
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 5px 10px;
}

.btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}